.search-popper,
.search {
    width: 500px;
}
.search-popper {
    .title-search {
        color: #16182380;
        font-size: 14px;
        padding: 5px 12px;
    }
}
.inner-popper {
    padding-top: 8px;
}
.search {
    position: relative;
    height: 46px;
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--px-border-radius);
    display: flex;
    align-items: center;
    border: 1px solid transparent;

    input {
        width: 431px;
        height: 100%;
        color: var(--black);
        font-weight: 400;
        font-size: 16px;
        caret-color: rgb(254, 44, 85);
        padding-right: 42px;
    }
    .search-btn {
        height: 100%;
        border-radius: 0 var(--px-border-radius) var(--px-border-radius) 0;
        padding: 11px 16px 11px 12px;
        color: rgba(22, 24, 35, 0.34);
        outline: none;
        width: var(--search-btn-width);
        display: flex;
        justify-content: center;
        &:hover {
            background-color: rgba(22, 24, 35, 0.06);
        }
        .search-img {
            fill: rgba(22, 24, 35, 0.34);
        }
    }

    .clear,
    .loading {
        outline: none;
        position: absolute;
        right: var(--search-btn-width);
    }
    .clear {
        padding: 0 16px;
    }
    .loading {
        right: calc(var(--search-btn-width) + 16px);
        animation: spin 1s linear infinite;

        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }
    }
    &:hover {
        border: 1px solid rgb(202, 202, 202);
        .search-btn {
            background-color: rgba(22, 24, 35, 0.06);
        }
        .search-btn .search-img {
            fill: rgba(22, 24, 35, 0.75);
        }
    }
    &:focus-within {
        .search-btn .search-img {
            fill: rgba(22, 24, 35, 0.75);
        }
        border: 1px solid rgb(202, 202, 202);
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 28px;
        background: rgba(22, 24, 35, 0.12);
        top: 9px;
        right: var(--search-btn-width);
    }
}
