.wrapper {
    // padding: 7px 8px 10px 16px;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.hoverBackground {
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.hoverText {
    &:hover {
        span {
            color: var(--red);
        }
        svg {
            fill: var(--red);
        }
    }
}
.icon {
    margin-right: 9px;
}

.nameOption {
    font-size: 16px;
    color: #161823;
}

.mgLeft {
    margin-left: 12px;
}
.nameNormal {
    font-weight: 400;
}
.nameBold {
    font-weight: 600;
}
.borderTop {
    border-top: 1px solid rgba(22, 24, 35, 0.1);
}
