.wrapper {
    --px-border-radius: 92px;
    --search-btn-width: 52px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    padding-right: 24px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
    }
    input {
        border: none;
        background: transparent;
        outline: none;
    }
}

.logo {
    width: 300px;
    display: flex;
    align-items: center;
}
.loading {
    width: 16px;
    // height: 13px;
}
.search-popper,
.search {
    width: 500px;
}
.search-popper {
    .title-search {
        color: #16182380;
        font-size: 14px;
        padding: 5px 12px;
    }
}
.search {
    position: relative;
    height: 46px;
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--px-border-radius);
    display: flex;
    align-items: center;
    border: 1px solid transparent;

    input {
        width: 431px;
        height: 100%;
        color: var(--black);
        font-weight: 400;
        font-size: 16px;
        caret-color: rgb(254, 44, 85);
        padding-right: 42px;
    }
    .search-btn {
        height: 100%;
        border-radius: 0 var(--px-border-radius) var(--px-border-radius) 0;
        padding: 11px 16px 11px 12px;
        color: rgba(22, 24, 35, 0.34);
        outline: none;
        width: var(--search-btn-width);
        display: flex;
        justify-content: center;
        &:hover {
            background-color: rgba(22, 24, 35, 0.06);
        }
        img {
            filter: opacity(0.5);
        }
    }

    .clear,
    .loading {
        outline: none;
        position: absolute;
        right: var(--search-btn-width);
    }
    .clear {
        padding: 0 16px;
    }
    .loading {
        right: calc(var(--search-btn-width) + 16px);
    }
    &:hover {
        border: 1px solid rgb(202, 202, 202);
        .search-btn {
            background-color: rgba(22, 24, 35, 0.06);
        }
        .search-btn img {
            filter: opacity(1);
        }
    }
    &:focus-within {
        .search-btn img {
            filter: opacity(1);
        }
        border: 1px solid rgb(202, 202, 202);
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 28px;
        background: rgba(22, 24, 35, 0.12);
        top: 9px;
        right: var(--search-btn-width);
    }
}

.actions {
    display: flex;
    align-items: center;
    gap: 16px;
    i {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 60px;
    }
    img {
        padding: 0 4px;
    }
}

.option-popper {
    position: relative;
    width: 223px;
    top: -16px;
    .container-options {
        padding: 8px 0;
    }
}

// @keyframes fadeInScale {
//     from {
//         opacity: 0;
//         transform: scale(0.8);
//     }
//     to {
//         opacity: 1;
//         transform: scale(1);
//     }
// }

// .option-popper {
//     opacity: 0;
//     transform: scale(0.8); /* Bắt đầu với thu nhỏ và ẩn */
//     transition: opacity 0.3s ease-out, transform 0.3s ease-out; /* Hiệu ứng mượt mà cho opacity và scale */
// }

// // .tippy-box[data-state='visible'] .option-popper {
// //     opacity: 1;
// //     transform: scale(1); /* Khi popper hiển thị, nó phóng to và có opacity = 1 */
// // }
