.wrapper {
    --px-border-radius: 92px;
    --search-btn-width: 52px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    padding-right: 24px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        // border: none !important;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
    }
    input {
        border: none;
        background: transparent;
        outline: none;
    }
}

.logo {
    width: 300px;
    display: flex;
    align-items: center;
}
.loading {
    width: 16px;
    // height: 13px;
}

// @keyframes fadeInScale {
//     from {
//         opacity: 0;
//         transform: scale(0.8);
//     }
//     to {
//         opacity: 1;
//         transform: scale(1);
//     }
// }

// .option-popper {
//     opacity: 0;
//     transform: scale(0.8); /* Bắt đầu với thu nhỏ và ẩn */
//     transition: opacity 0.3s ease-out, transform 0.3s ease-out; /* Hiệu ứng mượt mà cho opacity và scale */
// }

// // .tippy-box[data-state='visible'] .option-popper {
// //     opacity: 1;
// //     transform: scale(1); /* Khi popper hiển thị, nó phóng to và có opacity = 1 */
// // }
